{% extends '../login/base.html' %}
{% block title %}商品浏览{% endblock %}
{% block content %}
<script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({  //设置ajax发送之前做的操作，在data里面加上一个键值对
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        function add_favourites(dataname){
		alert("添加成功");
		$.ajax({
			url:"/view/add_favourites/",
			type:"POST",
			contentType: "application/json",
			data:JSON.stringify({
				'data':dataname
			}),
			success:function(response){
//				window.wxc.xcConfirm("成功", window.wxc.xcConfirm.typeEnum.success);
			},
	    	error:function(response){
//	    		window.wxc.xcConfirm("失败", window.wxc.xcConfirm.typeEnum.error);
	    	}
		})
		$('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
	}
</script>
    {% if request.session.is_login %}
    {% if goods_list %}
    <div class="container">
        <div class="row" >
            <div class="col-md-2" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            </div>
            <div class="col-md-8" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                {% for item in goods_list %}
                <div class="row">
                    <div class="col-md-3" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <li></li>
                        <img src="http://img10.360buyimg.com/n1/s450x450_jfs/t1/3405/18/3537/69901/5b997c0aE5dc8ed9f/a2c208410ae84d1f.jpg" width="100%" height="100%"/>
                        <li></li>
                    </div>
                    <div class="col-md-9" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <div class="row">
                            <div class="col-md-8" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <h3>商品{{item.id}}</h3>
                                <li>价格 {{item.price}}</li>
                                <li>数量 {{item.quantity}}</li>
                                <li>类别 {{item.category}}</li>
                            </div>
                            <div class="col-md-4" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <button type="button" class="btn btn-primary" name="{{item.id}}" data-toggle="modal" data-target="#myModal{{item.id}}">查看详情</button>
                                <div class="modal fade" id="myModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">商品详情</h4>
                                            </div>
                                            <div class="modal-body">{{item.detail}}</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                                <button type="button" class="btn btn-success">购买/租赁</button>
                                <button type="button" class="btn btn-info" onclick="add_favourites({{item.id}})" >加入收藏</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-2" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="pagination" style="margin-left: 50%;transform:translate(-50%,0)">
            {% if goods_list.number == 1 %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% else %}
                <li><a href="/view/?page={{goods_list.number|add:-1}}">&laquo;</a></li>
            {% endif %}
            {% for i in total_number %}
                {% if i == goods_list.number %}
                    <li class="active"><a href="/view/?page={{i}}">{{i}}</a></li>
                {% else %}
                    <li><a href="/view/?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if goods_list.number == page_robot.num_pages %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% else %}
                <li><a href="/view/?page={{goods_list.number|add:1}}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <p>There are no goods in the library</p>
    {% endif %}
    <p></p>
    {% else %}
    <img src="../../static/pic/login-warning.jpg" width="100%"/>
    {% endif %}
{% endblock %}