{% extends '../login/base.html' %}
{% block title %}商品浏览{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>(当然不能忘记js)
<script type="text/javascript">
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({  //设置ajax发送之前做的操作，在data里面加上一个键值对
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        function Parsefunc(dataname){
//		var dataname = $(this).attr('name');
		alert(dataname);
		$.ajax({
			url:"/view/get_detail/",
			type:"POST",
			contentType: "application/json",
			data:JSON.stringify({
				'data':dataname
			}),
			success:function(response){
				window.wxc.xcConfirm("成功", window.wxc.xcConfirm.typeEnum.success);
			},
	    	error:function(response){
	    		window.wxc.xcConfirm("失败", window.wxc.xcConfirm.typeEnum.error);
	    	}
		})
	}
</script>

    {% if request.session.is_login %}

    <h2>test goods_list</h2>
    {% if goods_list %}
        {% for item in goods_list %}
        <h3>detail {{item.detail}}</h3>
        <li>price {{item.price}}</li>
        <li>quantity {{item.quantity}}</li>
        <li>category {{item.category}}</li>
        <div class='mt50 ml32'>
	        <button class="btn btn-info btn-xs" name="{{item.id}}"  onclick="Parsefunc(this.name)">增加</button>
	    </div>

        {% endfor %}
    {% else %}
    <p>There are no goods in the library</p>
    {% endif %}
    <p></p>

    <div class="container">
        <div class="row" >
            <div class="col-md-2" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </div>
            <div class="col-md-8" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <div class="row">
                    <div class="col-md-3" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <li></li>
                        <img src="http://img10.360buyimg.com/n1/s450x450_jfs/t1/3405/18/3537/69901/5b997c0aE5dc8ed9f/a2c208410ae84d1f.jpg" width="100%" height="100%"/>
                        <li></li>
                    </div>
                    <div class="col-md-9" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <div class="row">
                            <div class="col-md-8" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <li></li>
                                <li>简介部分,格式还没调，不过应该是这样的形式，这里有一些简单的介绍，这个也作为一个框架，所有的商品都是这样的格式，但是考虑到还有分页的问题，之后再说</li>
                                <li></li>
                            </div>
                            <div class="col-md-4" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <button type="button" class="btn btn-primary">查看详情</button>
                                <button type="button" class="btn btn-success">购买/租赁</button>
                                <button type="button" class="btn btn-info">加入收藏</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <li></li>
                        <img src="//img13.360buyimg.com/n1/s450x450_jfs/t19465/355/1589199191/309972/37772b63/5ad06fc6N291eab65.jpg" width="100%" height="100%"/>
                        <li></li>
                    </div>
                    <div class="col-md-9" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <div class="row">
                            <div class="col-md-8" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <li></li>
                                <li>简介部分,格式还没调，不过应该是这样的形式，这里有一些简单的介绍，这个也作为一个框架，所有的商品都是这样的格式，但是考虑到还有分页的问题，之后再说</li>
                                <li></li>
                            </div>
                            <div class="col-md-4" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <button type="button" class="btn btn-primary">查看详情</button>
                                <button type="button" class="btn btn-success">购买/租赁</button>
                                <button type="button" class="btn btn-info">加入收藏</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <li></li>
                        <img src="//img10.360buyimg.com/n1/s450x450_jfs/t18157/222/1822300674/231514/6c179af8/5ad87390N086a3c91.jpg" width="100%" height="100%"/>
                        <li></li>
                    </div>
                    <div class="col-md-9" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <div class="row">
                            <div class="col-md-8" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <li></li>
                                <li>简介部分,格式还没调，不过应该是这样的形式，这里有一些简单的介绍，这个也作为一个框架，所有的商品都是这样的格式，但是考虑到还有分页的问题，之后再说</li>
                                <li></li>
                            </div>
                            <div class="col-md-4" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <button type="button" class="btn btn-primary">查看详情</button>
                                <button type="button" class="btn btn-success">购买/租赁</button>
                                <button type="button" class="btn btn-info">加入收藏</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <li></li>
                        <img src="//img12.360buyimg.com/n1/s450x450_jfs/t21415/332/642302956/189613/778f2021/5b13cd6cN8e12d4aa.jpg" width="100%" height="100%"/>
                        <li></li>
                    </div>
                    <div class="col-md-9" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        <div class="row">
                            <div class="col-md-8" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <li></li>
                                <li>简介部分,格式还没调，不过应该是这样的形式，这里有一些简单的介绍，这个也作为一个框架，所有的商品都是这样的格式，但是考虑到还有分页的问题，之后再说</li>
                                <li></li>
                            </div>
                            <div class="col-md-4" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                                <button type="button" class="btn btn-primary">查看详情</button>
                                <button type="button" class="btn btn-success">购买/租赁</button>
                                <button type="button" class="btn btn-info">加入收藏</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </div>
    </div>
    {% else %}
    <img src="../../static/pic/login-warning.jpg" width="100%"/>
    {% endif %}
{% endblock %}